/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: cornflowerblue;
    --secondary-color: #ecf3ff;
    --white: white;
    --red: #f44336;
    --green: #3bf85b;
}
* {
    margin: 0;
    padding: 0;
}
html, body { height: 100% !important; width: 100% !important; background-color: black;}
html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-page{
    height: 100%;
    overflow: auto;
}

.red{
    background-color: var(--red) !important;
    border-radius: 5px;
}

.green{
    background-color: green;
    border-radius: 5px;
}


.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: transparent !important;
}

@media (max-width: 1040px){
    .mat-mdc-paginator-outer-container {
        width: 100%;
    }   
    .mat-mdc-table{
        overflow-x: auto;
        display: block;
    }
}

    /* width */
table::-webkit-scrollbar {
    height: 10px;
}

/* Track */
table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
table::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
table::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.mat-mdc-paginator-page-size-select{
    background-color: var(--white);
    border-radius: 5px;
}

.mat-mdc-icon-button svg{
    background-color: var(--white);
    border-radius: 20px;
    color: black !important
}

.mdc-button .mdc-button__label{
    color: white;
}