<mat-card>
    <mat-card-header>
      <h1>Cambia Password</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="passwordForm">
              <form [formGroup]="passwordForm">
              <ng-template matStepLabel>Inserisci la tua password</ng-template>
                  <mat-form-field appearance="outline">
                      <mat-label>Inserisci password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" minlength="8" [maxlength]="20">
                      <mat-hint align="start">Min 8 caratteri</mat-hint>
                      <mat-hint align="end">{{(passwordForm.value.password?.length! || 0) < 8 ? ((8 - (passwordForm.value.password?.length || 0)) + " mancanti") : ""}}</mat-hint>
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide; $event.stopPropagation()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
              <div>
                  <button mat-raised-button color="primary" matStepperNext (click)="hideInput()">Avanti</button>
              </div>
              </form>
          </mat-step>
          <mat-step [stepControl]="newPasswordForm" label="Inserisci nuova password">
              <form [formGroup]="newPasswordForm">
              <mat-form-field appearance="outline">
                  <mat-label>Inserisci nuova password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" minlength="8" [maxlength]="20">
                  <mat-hint align="start">Min 8 caratteri</mat-hint>
                  <mat-hint align="end">{{(newPasswordForm.value.newPassword?.length! || 0) < 8 ? ((8 - (newPasswordForm.value.newPassword?.length || 0)) + " mancanti") : ""}}</mat-hint>
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide; $event.stopPropagation()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
              <div>
                  <button mat-raised-button color="primary" matStepperPrevious>Indietro</button>
                  <button mat-raised-button color="primary" matStepperNext (click)="hideInput()">Avanti</button>
              </div>
              </form>
          </mat-step>
          <mat-step [stepControl]="repeatPasswordForm" label="Ripeti nuova password">
              <form [formGroup]="repeatPasswordForm">
                  <mat-form-field appearance="outline">
                      <mat-label>Ripeti nuova password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatPassword" minlength="8" [maxlength]="20">
                      <mat-hint align="start">Min 8 caratteri</mat-hint>
                      <mat-hint align="end">{{(repeatPasswordForm.value.repeatPassword?.length! || 0) < 8 ? ((8 - (repeatPasswordForm.value.repeatPassword?.length || 0)) + " mancanti") : ""}}</mat-hint>
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide; $event.stopPropagation()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
                  <div>
                  <button mat-raised-button color="primary" matStepperPrevious>Indietro</button>
                  <button mat-raised-button color="warn" matStepperPrevious (click)="stepper.reset()">Annulla</button>
                  <button mat-raised-button color="primary" (click)="changePassword(); stepper.reset()">Cambia</button>
                  </div>
              </form>
          </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>