<div class="container-page">
    <div class="container-card">
        <mat-card *ngIf="user">
            <mat-card-header>
                <h1>Il mio profilo</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    username: {{ user!.username }}
                </h3>
                <h3>
                    abilitato: {{ user!.able | yesNo }}
                </h3>
                <h3>
                    Id: {{ user!.id }}
                </h3>
                <h3>
                    livello accesso: {{ user!.accessLevel }}
                </h3>
                <h3>
                    tipo: {{ tipo }}
                </h3>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="user && user!.installation">
            <mat-card-header>
                <h1>Installazione assegnata</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    codice: {{ user!.installation.installationCode }}
                </h3>
                <h3>
                    descrizione: {{ user!.installation.description }}
                </h3>
                <h3>
                    imei: {{ user!.installation.imei }}
                </h3>
            </mat-card-content>
        </mat-card>
    </div>
    <app-change-password></app-change-password>
</div>


<!--
-->